extends main-layout

block content
  section.inner-section
    .container
      .inner-section__wrapper
        .inner-section__sidebar
          block sidebar
        .inner-section__content
          block primary
